---
---

@import "{{ site.theme }}";

div#image1 {

	width: 869px;
	padding-bottom: 0px;
	border-style: dashed;

}

iframe#inspiration1 {

	padding-top = 0px;
	padding-bottom = 0px;

}

h1#aboutTitle {

	color: orange;

}

h3 {

	color: orange;

}

h4 {

	color: red;

}
