---
---

@import "{{ site.theme }}";

h1#aboutTitle {

	color: orange;

}

h3 {

	color: orange;

}

h4 {

	color: red;

}

div#image {

	width: 869px;
	padding-bottom: 0px;
	border-style: dashed;

}
