---
---

@import "{{ site.theme }}";

/*Styling for buttons*/

.collapsibleLab1, .collapsibleClass2 {
	font-size: 1.17em;
	color: orange;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}


.active, .collapsibleLab1:hover, .collapsibleClass2:hover {
  background-color: #ccc;
}

#Lab1, #Class2 {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}


div#image1 {

	width: 869px;
	height: 704px;
	padding-bottom: 0px;
	border-style: dashed;

}

iframe#inspiration1 {

	padding-top: 0px;
	padding-bottom: 0px;

}

h1#aboutTitle {

	color: orange;

}

h3 {

	color: orange;

}

h4 {

	color: red;

}
